@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    position: relative;
    min-height: 100vh;
    background-image: url(../img/electronic-circuit-boardcomputer-circuit-boardelectronic-circuit-board-with-processor_593400-9817.avif);
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
  }

  .nav-item {
    padding: 0px 20px;
    font-size: 14px;
  
  }
  
  .navbar-brand{
    font-size: 18px;
  }
  

  .main-content {
    margin-left: 20px;
    flex-grow: 1;
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
  }

  .resume-image {
    width: auto;
    height: 530px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .btn{
    position: absolute;
    background-color: #8b8a8a;
    margin-top: 500px;
    margin-left: 240px;
    height: 30px;
    width: 130px;
    font-size: 12px;
  }
  
  .certext {
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
  }

  .certificates-text {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-left: 1px;
    margin-top: 20px;
    height: 540px;
    width: 370px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
  }

.cert1-image,
.cert2-image,
.cert3-image,
.cert4-image,
.cert5-image,
.cert6-image {
    width: 150px;
    height: 90px;
    margin-top: 20px; /* Updated margin */
    margin-right: 80px;
    cursor: pointer;
}


  /* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  margin-top: 90px;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.cert1-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.cert2-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.cert3-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.cert4-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.cert5-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.cert6-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

